body {
    font-family: 'Lobster', cursive; /* Romantische Kursivschrift ändern */
    background-color: #ffdde1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 25px; /* Textgröße verringern */
    color: rgb(255, 0, 174);
}

.container {
    width: 80%; /* Breite des Containers auf 80% der Bildschirmbreite festlegen */
    max-width: 800px; /* Maximale Breite des Containers festlegen */
    text-align: center;
}

.image {
    max-width: 100%; /* Maximale Breite des Bildes festlegen */
    height: auto;
}

.buttons button {
    background-color: #ff4d79;
    color: #fff;
    padding: 10px 20px; /* Verringerung des Padding */
    border: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px; /* Verringerung der Schriftgröße */
    cursor: pointer;
    position: relative;
}

.buttons button:hover {
    background-color: #7c1f37;
}

.hidden-message {
    display: none;
    margin-top: 20px;
}

.move {
    animation: moveNoMessage 0.5s linear;
}

@keyframes moveNoMessage {
    0% { transform: translate(0, 0); }
    25% { transform: translate(30px, 30px); }
    50% { transform: translate(-20px, -20px); }
    75% { transform: translate(10px, 10px); }
    100% { transform: translate(0, 0); }
}
